header{
    background: var(--white);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 5px 8px 8px #d1d1d13b;
}
header .top-header .container{
    justify-content: space-between;
    padding: 15px 0;
}
header .container a > img{
    width: 180px;
}
header .container .search-box {
    width: 610px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: var(--bg_color);
}
header .container .search-box input{
    height: 55px;
    width: 400px;
    padding: 5px 15px 5px 10px;
    background: var(--bg_color);
    
}
header .container .search-box .select-box{
    position: relative;
}
header .container .search-box .select-box::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 50%;
    background: #b9b9b9;
}
header .container .search-box select{
    height: 55px;
    width: 190px;
    background: var(--bg_color);
    font-size: .9rem;
    cursor: pointer;
    padding-inline: 10px;
}
header .container .search-box select option{
    font-size: 15px;
}
header .container .search-box > button{
    height: 55px;
    padding-inline: 20px;
    background: var(--main_color);
}
header .container .search-box > button i{
    color: var(--white);
}
header .header-icons {
    gap: 30px;
}
header .header-icons .icon{
    position: relative;
    cursor: pointer;
}
header .header-icons .icon i{
    font-size: 24px;
}
header .top-header .header-icons .icon .count{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    background: var(--main_color);
    color: var(--white);
}

header .bottom-header{
    border: 1px solid var(--border_color);
}
header .bottom-header .navbar{
    gap: 50px;
    height: 60px;
}
header .bottom-header .navbar .nv-saids{
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
header .bottom-header .navbar .left-said{
    height: 100%;
}
header .bottom-header .navbar .left-said .category{
    width: 220px;
    height: 100%;
    position: relative;
}
header .bottom-header .left-said .category-btn{
    height: 100%;
    width: 100%;
    justify-content: space-around;
    background: var(--main_color);
}
header .bottom-header .left-said .category-btn p,
header .bottom-header .left-said .category-btn i{
    color: var(--white);
    font-weight: 600;
    font-size: 15px;
}
header .bottom-header .left-said .nav-links{
    /* width: 400px;
    height: 100%; */
    margin-left: 35px;
    gap: 35px;
}
header .bottom-header .left-said .nav-links li a{
    color: var(--color_heading);
    transition: all 0.2s ease;
}
header .bottom-header .left-said .nav-links li:hover a{
    color: var(--main_color);
    border-bottom: 1px solid var(--p_color);    
}
header .bottom-header .left-said .nav-links .active {
    color: var(--main_color);
}
header .bottom-header .navbar .right-said .btn i{
    color: var(--white);
}
header .bottom-header .navbar .category-btn .fa-angle-down{   
    transform: rotate(180deg);
    transition: transform .5 ease ;
}
header .bottom-header .navbar .category-btn .fa-angle-down.rotated{
    transform: rotate(0deg);
}
header .bottom-header .navbar .category .category_nav_list{
    position: absolute;
    width: 100%;
    top: 100%;
    align-items:flex-start;
    flex-direction: column;
    border-top: 0;
    background: var(--white);
    clip-path: polygon(0 0 , 100% 0 , 0 0);
    transition: all .3s ease-in-out;
}
header .bottom-header .navbar .category .category_nav_list.active{
    clip-path: polygon(0 0 ,100% 0 , 100% 100% , 0 100%);
}
header .bottom-header .navbar .category .category_nav_list a{
    padding: 12px;
    border-bottom: 1px solid var(--border_color);
    font-size: 15px;
    width: 89%;
}
header .bottom-header .navbar .category .category_nav_list a:hover{
    width: 89%;
    background: #d0d0d0;
    
}
header .bottom-header .category .category_nav_list a:last-child{
border: none;
}
/* slider section */
.slider{
    position: relative;
    
}
.slider .container{
    width: 100%;
    justify-content: space-between;
}
.slider .container .slide-swp {
    
    width: 75%;
    overflow: hidden;
    position: relative;
}
.slider .container .slide-swp .swiper-wrapper{
    height: auto !important;
}
.slider .container .slide-swp .swiper-pagination span{
    background-color: var(--white);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: var(--main_color) !important;
    width: 34px !important;
    height: 8px !important;
    border-radius: 30px !important;
}
.slider .banner_2{
    width: 23%;
    height: 100%;
    object-fit: cover;
}
.slider .banner_2 a{
    height: 100%;
    width: 100%;
}


