/* slider section */
.slider{
    position: relative;
}
.slider .container{
    width: 90%;
    justify-content: space-between;
    
}
.slider .banner_2{
    max-width: 23%;
    height: 100%;
    object-fit: cover;
}
.slider .banner_2 a{
    height: 100%;
    width: 100%;
}
.slider .container .slide-swp {
    height: 100%;
    width: 75%;
    overflow: hidden;
    position: relative;
}
.slider .container .slide-swp .swiper-wrapper{
    height: auto !important;
}
.slider .container .slide-swp .swiper-pagination span{
    background-color: var(--white);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: var(--main_color) !important;
    width: 34px !important;
    height: 8px !important;
    border-radius: 30px !important;
}
@media (max-width:650px){
    .swiper-pagination-bullet-active{
        
        width: 20px !important;
        height: 6px !important;
        
    }
}


/* Start header responsive */


/* Tablet responsive */
@media (max-width:1000px){
    .slider .banner_2{
        display: none;
    }
    .slider .container .slide-swp {
        
        width: 100%;
        
    }
    body{
        padding-top: 240px;
    }

}

@media (max-width:390px){
    
    .swiper-pagination-bullet-active{
        
        width: 15px !important;
        height: 6px !important;
        
    }
}