
article.product{
    background: var(--white);
    padding: 20px 20px;
    box-shadow: 50px 5px 10px #94949428;
    border: 1px solid var(--border_color);
    border-radius: 5px;
    position: relative;
}
/* Start slide style */
.slide{
    margin-bottom: 70px;
}
.top_slide{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--main_color);
}
.top_slide h2{
    position: relative;
    text-transform: uppercase;
    background-color: var(--main_color);
    color: var(--white);
    font-size: 18px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}
.top_slide h2 i{
    color: var(--white);
}
.top_slide h2::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    z-index: 9;
    border-left: 20px solid transparent;
    background: var(--white);
    left: 0;
    border-bottom: 20px solid #e26e02;
}
.slide .container{
    position: relative;
}
.slide .container .mySwiper{
    padding: 10px 0;
}
.slide .container .mySwiper .btn{
    position: absolute;
    top: 30px;
    right: 0;
    background: var(--border_color);
    color: var(--color_heading);
    font-weight: bold;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    border: 1px solid var(--border_color);
}
.slide .container .mySwiper .btn::after{
    font-size: 13px;
}
.slide .container .btn.swiper-button-prev{
    left: calc(100% - 80px );
}
/* Start Card style */
.mySwiper{
    overflow: hidden;
}
article.product .sale-present{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    background: var(--sale_color);
    color: var(--white);
    padding: 4px 10px;
    font-size: 13px;
}
article.product .img-product{
    position: relative;
    height: 180px;
    padding: 0 20px;
    justify-content: center;
    transition: all .3s ease;
}
article.product:hover .img-product{
    transform: scale(1.1);
}
.product .name-product a{
    margin-bottom: 10px;
    color: var(--color_heading);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product .name-product a:hover{
    text-decoration: underline;
    color: var(--main_color);
}
.price{
    gap: 12px;
    font-size: 17px;
    font-weight: bold;
}
.price .old-price{
    color: var(--p_color);
    text-decoration: line-through;
    font-size: 14px;
    font-weight: normal;
}
.product .icons{
    gap: 10px;
    margin-top: 15px;
    
}
.product .icon-product{
    width: 35px;
    height: 35px;
    border: 1px solid var(--border_color);
    cursor: pointer;
    justify-content: center;
    transition: all .3s ease;
}

.product .icon-product:hover{
    background: var(--main_color);
}
.product .icon-product:hover i{
    color: var(--white);
}
.product .icons .icon-product.active{
    background: var(--main_color);
    
}
.product .icon-product.active i{
    color: var(--white);
}
.product .icons .btn-add-cart{
    background: var(--main_color);
    gap: 5px;
    color: var(--white);
    padding: 10px 8px ;
    cursor: pointer;
    text-transform: lowercase;
    border-radius: 4px;
    border: 1px solid var(--main_color);
    transition: all .3s ease;
    
}
.product .icons .btn-add-cart i{
    color: var(--white);
    pointer-events: none;

}
.product .icons .btn-add-cart.active{
    color: var(--color_heading);
    background: transparent;
    pointer-events: none;
}
.product .icons .btn-add-cart.active i{
    color: var(--main_color);
}
.product .icons .btn-add-cart:hover{
    transform: scale(1.03);
    background: #f47600;
}
@media (max-width:756px){
    .top_slide h2 {
        
        font-size: 15px;
        padding: 10px 22px;
        
    }
    
    .slide .container .mySwiper .btn{
        width: 30px;
        height: 30px;
        font-size: 11px;
    }
    .slide .container .btn.swiper-button-prev {
        left: calc(100% - 70px );
    }
    .product .name-product ,
    .product .icons .btn-add-cart{
        font-size: 14px;
    }
    .price{
        font-size: 15px;
    }
    .price .old-price{
        font-size: 13px;
    }
    
}

